<!-- Footer -->
<footer>
	<div class="container-fluid footer-back-img">
		<div class="container">
		<div class="row">
			<div class="col-md-12 " style="padding-bottom: 60px;">
				<div class="footer-title">
					<h1 class="text-center">
						Contact
					</h1>
				</div>

				<div class="col-md-6 col-sm-6">
					<h3>Get in touch with us</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
					<div class="footer-social">
						<i class="fa fa-facebook fa-2x fa-circle-facebook"></i>
						<i class="fa fa-twitter fa-2x fa-circle-twitter"></i>
						<i class="fa fa-google-plus fa-2x fa-circle-google"></i>
					</div>
					<p>Cssaauthor.com</p>
					<p>+000000000 00</p>
					<p>info@cssauthor.com</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<form name="conact-form" method="post">
						<div class="col-md-6 footer-padding-bottom">
							<input type="text" class="form-control" placeholder="Name" />
						</div>
						<div class="col-md-6 footer-padding-bottom">
							<input type="text" class="form-control" placeholder="Email"  />
						</div>

						<div class="col-md-12 footer-padding-bottom">
							<textarea type="text" class="form-control" placeholder="Message" ></textarea>
						</div>
						<div class="col-md-12">
							<input type="submit" name="send" value="Send" class="btn btn-lg btn-primary pull-right">
						</div>

					</form>
				</div>
			</div>
		</div>
		</div>
	</div>
</footer><!-- /Footer -->