<div class="col-md-4 navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	</button>
	<!-- Logo -->
	<div class="logo-style" id="content_logo">
		<f:cObject typoscriptObjectPath="lib.content_logo" />		
	</div>
	<!-- /Logo -->
</div>
<div id="content_menu">
	<f:cObject typoscriptObjectPath="lib.content_menu" />
</div>